@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: white;
    min-height: 100vh;
    box-sizing: border-box;
}

.destacado-titulo {
    color: #22D4FD;
}

a {
    color: white;
}

.main {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 18%;
    justify-content: space-between;
}

.main__imagen{
    max-width: 450px;
    height: auto;
    border-radius: 15px;
}

.main__descripcion {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main__descripcion__titulo {
    font-size: 36px;
    font-family: krona one, sans-serif;
    text-align: justify;
}

.main__descripcion__parrafo {
    font-size: 24px;
    font-family: montserrat, sans-serif;
    text-align: justify;
}

.main__enlaces{
    display: flex;
    justify-content: space-between;
}

.main__enlaces__link{
    width: 280px;
    background-color: #22D4FD;
    text-align: center;
    padding: 21.5px 0px;
    border-radius: 15px;
    font-family: montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
}

.footer{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}