@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;

    --fuente-montserrat: 'Montserrat', sans-serif;
    --fuente-krona-one: 'Krona One', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primario);
    color: white;
    min-height: 100vh;
    box-sizing: border-box;
}

.header{
    padding: 2% 0 0 18%;
}

.header__nav{
    display: flex;
    gap: 40px;
}

.header__nav__link{
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.destacado-titulo {
    color: var(--color-terciario);
}

a {
    color: white;
}

.main {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 18%;
    justify-content: space-between;
    gap: 80px;
}

.main__imagen{
    width: 40%;
    height: auto;
    border-radius: 15px;
}

.main__descripcion {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main__descripcion__titulo {
    font-size: 36px;
    font-family: var(--fuente-krona-one);
    text-align: justify;
}

.main__descripcion__parrafo {
    font-size: 24px;
    font-family: var(--fuente-montserrat);
    text-align: justify;
}

.main__enlaces{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-bottom: 30px;
}

.main__enlaces__subtitulo{
    font-size: 24px;
    font-family: var(--fuente-krona-one);
    font-weight: 400;
}

.main__enlaces__link{
    width: 50%;
    background-color: var(--color-primario);
    text-align: center;
    padding: 21.5px 0;
    border-radius: 15px;
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main__enlaces__link:hover{
    background-color: var(--color-terciario);
    color: #000900;
    transition: 0.2s;
}

.main__enlaces__link__iconos{
    width: 40px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-terciario);
    color: var(--color-primario);
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    padding: 20px;
    text-align: center;
}

@media (max-width: 1200px){
    .main{
        flex-direction: column-reverse;
        margin: 0 10%;
    }

    .main__descripcion{
        width: auto;
    }

    .main__enlaces__link{
        width: 65%;
    }

    .header{
        padding: 10%;
    }

    .header__nav{
        justify-content: center;
    }
}